<div >
    <table>
        <tr>
            <th>Qty</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in invoice.items">
            <td><input type="number" ng-model="item.qty" ng-required></td>
            <td><input type="text" ng-model="item.description"></td>
            <td><input type="number" ng-model="item.cost" ng-required></td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td>
                [<a href ng-click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a href ng-click="addItem()">add item</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
</div>
