     <form name="registerForm" >
     	
  	   <table>
  	   	<tr>
  	   		<td>Name</td>
  	   		<td><input type="text"  name="uName" ng-model="user.name" required>
  	  		</td>
  	   	</tr>
  	   	<tr>
  	   		<td>E-mail</td>
  	   		<td>
  	   			<input type="email" name="uEmail" ng-model="user.email" required>
  	   			<div ng-show="registerForm.uEmail.$dirty && registerForm.uEmail.$invalid">Invalid:
				<span ng-show="registerForm.uEmail.$error.required">Tell us your email.</span>
				<span ng-show="registerForm.uEmail.$error.email">This is not a valid email.</span>
				</div>

  	   		</td>
  	   	</tr>
  	   	<tr>
  	   		<td>Gender</td>
  	   		<td><input type="radio" ng-model="user.gender" value="male"> Male <input type="radio" ng-model="user.gender" value="female"> Female </td>
  	   	</tr>
  	   	<tr>
  	   		<td>Mobile no</td>
  	   		<td><input type="text" ng-model="user.mobile" name="uMobile" required>
  	   			<div ng-show="registerForm.uMobile.$dirty">
				<span ng-show="registerForm.uMobile.$error.required">Tell us your mobile number.</span>
				
				</div>
  	   		</td>
  	   	</tr>
  	   	<tr>
  	   		<td><button class="btn" ng-click="register(user)" ng-disabled="registerForm.$invalid"> Register</button></td>
  	   		<td></td>
  	   	</tr>
  	   </table>

     </form>

     <br/>
     <hr/>

 <div ng-show="isRegistered">
 
     Thanks for registering!. Your details,
     <p>{{user.name}}</p>
     <p>{{user.email}}</p>
     <p>{{user.gender}}</p>
     <p>{{user.mobile}}</p>
  </div>
