<div mytag> </div>

<fade> Click me to fadein-out </fade>

<form name="myForm">

Value1: <input type="checkbox" ng-model="value1"> <br/>
Value2: <input type="checkbox" ng-model="value2"
ng-true-value="'Thanks for accepting the license.'" ng-false-value="'Auuh! you didn\'t accept the license'"> <br/>
<tt>value1 = {{value1}}</tt><br/>
<tt>value2 = {{value2}}</tt><br/>


<input type="radio" ng-model="color" value="red"> Red <br/>
<input type="radio" ng-model="color" value="green"> Green <br/>
<input type="radio" ng-model="color" value="blue"> Blue <br/>
<tt>color = {{color}}</tt><br/>

 Single word: <input type="text" name="input" ng-model="text1"
ng-pattern="word" required>
<span class="error" ng-show="myForm.input.$error.required">
Required!</span>
<span class="error" ng-show="myForm.input.$error.pattern">
Single word only!</span>
<tt>text = {{text1}}</tt><br/>

Select All <input type="checkbox" ng-model="master"><br/>
<input id="checkSlave1" type="checkbox" ng-checked="master"><br/>
<input id="checkSlave2" type="checkbox" ng-checked="master"><br/>
<input id="checkSlave3" type="checkbox" ng-checked="master"><br/>
</form>

<button ng-click="count = count + 1" ng-init="count=0">
Increment
</button>
count: {{count}}
<br>

 Click me to toggle: <input type="checkbox" ng-model="checked"><br/>
<button ng-disabled="!checked">Button</button>
Username : <input type="text" ng-disabled="!checked">
<br/>

 Click me: <input type="checkbox" ng-model="hchecked"><br/>
Show: <span ng-show="hchecked">I show up when you checkbox is checked?</span> <br/>
Hide: <span ng-hide="hchecked">I hide when you checkbox is checked?</span>

<div ng-init="friends=[{name:'Karthik',age:25},{name:'Sridhar',age:29}]">
	<ul>
		<li ng-repeat="friend in friends">
			{{friend.name}}	{{friend.age}}	
		</li>
	</ul>
</div>

<form ng-submit="submit()">
Enter text and hit enter:
<input type="text" ng-model="text" name="text" />
<input type="submit" id="submit" value="Submit" />
<pre>list={{list}}</pre>
</form>


 
<select ng-model="selection" ng-options="item for item in items">
</select>
<tt>selection={{selection}}</tt>
<hr/>
<div ng-switch on="selection" >
<div ng-switch-when="settings">Settings Div</div>
<span ng-switch-when="home">Home Span</span>
<span ng-switch-default>default</span>
</div>

