
Search  <input ng-model="query">
<p> SortBy :
	<select ng-model="sortorder">
		<option value="name"> Name </option>
		<option value="+price"> Price </option>
	</select>
<p> There are <strong> {{(products|filter:query).length}} </strong> products <span ng-show="query.length"> matching for <strong> {{query}} </strong> </span> </p>

Hello, {{name}} <br>
<input type="text" ng-model="name">
<table>
	<tr>
		<td> Name </td>
		<td> Desc </td>
		<td> Brand </td>
		<td> Color </td>
		<td> Size </td>
		<td> Price </td>

	 </tr>
	<tr ng-repeat="p in products | filter:query | orderBy:sortorder ">
		<td> <a href="#/products/{{p.id}}"> {{p.name}} </a> </td>
		<td> {{p.desc}} </td>
		<td> {{p.brand}} </td>
		<td> {{p.color}} </td>
		<td> {{p.size}} </td>
		<td> {{p.price}} </td>
	</tr>
</table> 

<hr>

<a href="#/samples"> Home </a>